.gradient-border {
  position: fixed;
  top: -5px;
  left: 3rem;
  right: 3rem;
  z-index: 90;
  padding: 3px;
  background: linear-gradient(90deg, #BC8E40, #FFFCD5);
  border-radius: 0 0 1.5rem 1.5rem;
  clip-path: polygon(
    0% 4px,     /* Top-left - bắt đầu sau border top */
    100% 4px,   /* Top-right */
    100% 100%,  /* Bottom-right */
    0% 100%     /* Bottom-left */
  );
}

.gradient-button {
  border: 3px solid transparent;
  background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #BC8E40, #FFFCD5) border-box;
  border-radius: 0.5rem;
}

.gradient-news {
  border: 2px solid transparent;
  background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #FFEAC4, #AB8040) border-box;
}

.gradient-hr {
  border: 2px solid transparent;
  background: 
    linear-gradient(#FFFCD5, #FFFCD5) padding-box,
    linear-gradient(90deg, #BC8E40, #FFFCD5) border-box;
}