.hexagon {
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
  transition: all 0.6s ease;
}
/* .hexagon:hover {
  transform: scale(1.05);
  opacity: 0.7;
} */
